.hidden {
  display: none;
}

/* .headNbody {
  display: grid;
  grid-template-rows: 35px 60px auto;
} */

.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #030504;
  height: 50vh;
  padding: 24px;
  color: white;
}

/* .main {
  display: block;
} */

.smallLogo {
  display: none;
  width: 30px;
}

.fullLogo {
  width: 16rem;
}

button {
  background-color: #0095d5;
  color: white;
  width: 70px;
  height: 30px;
  margin: 10px;
  font-size: 1.1rem;
}

form {
  margin-top: 8px;
}

form input {
  border: solid 2px #030504;
  width: 60%;
  height: 30px;
}

.myTaskList {
  margin: 0 auto;
  width: 90%;
}

.myTaskList ul li {
  list-style-type: none;
  text-align: left;
  border-bottom: solid 2px #030504;
  padding-bottom: 8px;
}

.addBtnBig {
  display: none;
}

ul {
  padding-inline-start: 0px;
}

.devider {
  min-height: 55px;
}
